#fourth_section {
    background: $almostBlack;
    padding: 1.25rem 1rem;
    margin-bottom: 6rem;
    h1 {
    font-family: 'Big Shoulders Display', cursive; 
    font-size: 50px;
    color: $almostBlack;
    margin-top: 1.6875rem;
    margin-bottom: 1.875rem;
    color: white;
 }
 p {
    font-family: 'Outfit', sans-serif;
    font-size: $font-med;
    line-height: 1.5;
    color: white;
 }
}